<!DOCTYPE html>
<html>
  <head>
    <title>Article List</title>
  </head>
  <body>
    <h1>Article List</h1>
    <ul>
      <% postlist.forEach(function(article) { %>
        <li><%= article.title %></li>
      <% }); %>
    </ul>
  </body>
</html>