<header>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <% if (!user) { %>
          <li><a href="/member/login">Login</a></li>
          <li><a href="/member/signup">Sign up</a></li>
        <% } else { %>
          <li><%= user.name %>님</li>
          <li><a href="/post/new">글쓰기</a></li>
          <li><a href="/member/logout">Logout</a></li>
        <% } %>
      </ul>
    </nav>
  </header>