<footer>
  <div style="text-align: center; background-color: white;">
    <a
          class="btn btn-primary btn-floating m-1"
          style="background-color: #3b5998;"
          href="https://www.facebook.com/people/%ED%95%9C%EB%B4%89%ED%9B%88/100015260952596/"
          role="button"
          ><i class="fab fa-facebook-f"></i
        ></a>
  
        <!-- Github -->
        <a
          class="btn btn-primary btn-floating m-1"
          style="background-color: #333333;"
          href="https://github.com/hanbonghun"
          role="button"
          ><i class="fab fa-github"></i
        ></a>
  </div>
  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2021 Copyright:
    <a class="text-dark" href="https://mdbootstrap.com/">한봉훈</a>
  </div>

</footer> 
