<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">My Blog</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/articles">Post</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="/about">About</a>
      </li>
    </ul>
    <a class="btn btn-primary" style="margin-right:6px;" href="/articles/new" role="button">글쓰기</a>
      <a href="/logout"><button style = "background-color: #FEE500"class="btn btn my-2 my-sm-0" type="submit">로그아웃</button></a>
  </div>
</nav>